.review-container {
  margin: auto;
  width: 900px;
  display: flex;
  margin-top: 50px;
  box-shadow: 0 10px 25px rgba(0,0,0,.5)!important;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.review-form-overlay{
  background: #808080!important;
  height: 100%!important;
  position: fixed!important;
  width: 100%!important;
  button {
    margin: 10px 10px 20px 20px;
  }
}

#hidden {
  display: none;
}

.review-str-imput {
  height: 24px;
  background-color: #fff;
  padding: 8px;
  box-shadow: inset 0 0 0 1px #928b80;
  border: 0;
  border-radius: 4px;
  margin: 0;
  width: 95%;
}
.review-text-imput {
  height: 24px;
  background-color: #fff;
  padding: 8px;
  box-shadow: inset 0 0 0 1px #928b80;
  border: 0;
  border-radius: 4px;
  margin: 0;
  width: 95%!important;
  height: 90px!important;
}

.left-review {
  width: 225px;
  height: auto;
  background-color: #E5E5E5;
  // display: flex;

  // justify-content: flex-start;
  padding: 10px;
}
.right-review {
  width: 675px;
  background-color: #fff;
  height: auto;
  .review-title {
    font-size: 22px;
    padding: 20px 12px;
  }
  .small-msg{
    margin: 0 20px;
    padding: 0 0 12px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
  }
}

.round-photo {
  border-radius: 5px;
  box-shadow: 0px 2px rgba(246,245,242,255);
}
.separated {
  border-bottom: 1px solid rgba(229,224,216,255);
  padding: 10px 20px;
}

.review-label {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 2px;
  padding-right: 8px;
}

.review-photo {
  vertical-align: top;
  text-align: center;
  display: table-cell;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
  }
}

.star-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.review-photo-title {
  padding-top: 8px;
}

.star {
  -webkit-text-stroke: 1px #949494;
  -webkit-text-fill-color: rgba(229,224,216,255);
  font-size: 32px;
  padding: 2px;
}

.with-flex {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.star-1:hover{
  -webkit-text-stroke: 1px darkred;
  -webkit-text-fill-color: red;
}
.star-2:hover + .star-1, .star-2:hover {
  -webkit-text-stroke: 1px orangered;
  -webkit-text-fill-color: darkorange;
}
.star-3:hover + .star-2 + .star-1, .star-3:hover ~ .star1, .star-3:hover + .star-2, .star-3:hover {
  -webkit-text-stroke: 1px orange;
  -webkit-text-fill-color: rgb(241, 178, 60);
}

.star-4:hover ~ .star-1, .star-4:hover ~.star-2, .star-4:hover ~ .star-3, .star-4:hover {
  -webkit-text-stroke: 1px rgb(30, 158, 30);
  -webkit-text-fill-color: rgb(66, 148, 66);
}

.star-5:hover ~ .star-1, .star-5:hover ~.star-2, .star-5:hover ~ .star-3, .star-5:hover ~ .star-4, .star-5:hover {
  -webkit-text-stroke: 1px #225c4e;
  -webkit-text-fill-color: green;
}

#star-1 {
  -webkit-text-stroke: 1px darkred;
  -webkit-text-fill-color: red;
}
#star-2 {
  -webkit-text-stroke: 1px orangered;
  -webkit-text-fill-color: darkorange;
}
#star-3 {
  -webkit-text-stroke: 1px orange;
  -webkit-text-fill-color: rgb(241, 178, 60);
}
#star-4 {
  -webkit-text-stroke: 1px rgb(30, 158, 30);
  -webkit-text-fill-color: rgb(66, 148, 66);
}
#star-5 {
  -webkit-text-stroke: 1px #225c4e;
  -webkit-text-fill-color: green;
}
