// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two-col-ctr {
  display: flex;
  justify-content: space-between; 
}

.h1 {
  font-size: 32px;
  font-family: Plantin,Georgia,serif;
}

.login-form {
  border: 1px solid pink;
  color:magenta;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.msg {
  font-family: Graphik,"Helvetica Neue",sans-serif;
  width: 540px;
  height: 152px;
}

.msg h3, .session-form h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.session-form h1 {
  font-family: Graphik,"Helvetica Neue",sans-serif;
  width: 540px;
  height: 330px;
}

.msg p {
  font-weight: 400;
  letter-spacing: -.16px;
  font-size: 16px;
  color: rgba(12,11,8,.75);
}


