.terms-privacy {
  > h1 {
    font-size: 24px;
    font-family: GraphikLCGSemibold,"Helvetica Neue",sans-serif;
    margin: 20px 0px;
  }

  > h3 {
    margin: 22px 0px;
  }
}

.textarea {
  height: 20vh;
}