/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* @import url(//db.onlinewebfonts.com/c/c8b39fed03f94d04076e43085def7a5e?family=Plantin); */
 @import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;450;500;600&display=swap');
 @import url('https://db.onlinewebfonts.com/c/519674de2a9cf96cde58e391fa5d51fe?family=GraphikLCGSemibold');
 @import url('https://db.onlinewebfonts.com/c/9931abfc466a32ad3c3281bf1f8c1e5b?family=Graphik+LC+Medium');
 @import url('https://db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular');
 @import url('https://db.onlinewebfonts.com/c/4269f3960cb4b410c0d4cbb795e6ce72?family=Graphik+LC+Light');

.webpage {
  background-color: #fff;
  font-family: Foustina, Georgia,serif;
  font-weight: 500;
  letter-spacing: -.16px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(12,11,8,.75); 
  background-color: #fff;
  max-width: 1232px;
  margin: auto;
}

.narrow-webpage {
  background-color: #fff;
  font-family: Graphik web regular,"Helvetica Neue",sans-serif;
  font-weight: 500;
  letter-spacing: -.16px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(12,11,8,.75); 
  background-color: #fff;
  max-width: 976px;
  margin: auto;
}

.sans-serif {
  font-family: Graphik web regular,"Helvetica Neue",sans-serif;
}

.grn-lnk{
  text-decoration: underline;
  color: #004e00;
  cursor: pointer;
}

.lnk {
  color: #406eb5;
  fill: #406eb5;
}

.grn {
  background-color: #225c4e;
  color: #f9f8f6;
  fill: #f9f8f6;
}
.btn {
  font-family: Graphik web regular,"Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -.08px;
  border: none!important;
}

.learnmore{
  text-align: center;
  font-size: 23px;
  margin: auto;
  padding-top: 23px;
}


.centered-btn {
  text-align: center;
}

.red-border {
  border: 1px solid red;
}

.loading {
  height: 100vh;
}