.footer {
  font-family: Graphik LC Medium, "Helvetica Neue",sans-serif;
  text-align: center;
  padding: 36px 0;
  display: flex;
  justify-content: center;
}

.footer h3 {
  margin: auto 0;
  color: #616161;
  font-family: Graphik web regular,"Helvetica Neue",sans-serif;
  font-size: 14px;
  text-decoration: none;
  align-self: center;
}

.tree {
  width: 56px;
  margin: 24px;
}

.feedback {
  // border-radius: 10px;
  // box-shadow: 0 4px 4px rgba(26, 26, 26, 0.2);
  // width: 50%;
  // margin: auto;
  // // margin-top: 20px;
  // margin-right: auto;
  // margin-left: auto;
  text-align: center;
}