.footer {
  font-family: Graphik LC Medium, "Helvetica Neue",sans-serif;
  text-align: center;
  padding: 36px 0;
  display: flex;
  justify-content: center;
}

.footer h3 {
  margin: auto 0;
  font-size: 14px;
}

.tree {
  width: 56px;
  margin: 24px;
}
